#room {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .heading {
    text-transform: capitalize;
  }

  p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }

  .text-wrapper {
    text-align: center;
  }

  .img-wrapper {
    width: 100%;
    height: 70vh;
    margin-bottom: 1rem;
  }

  .cta-wrapper {
    margin-top: 1rem;
    padding-bottom: 2rem;
    a {
      display: inline-block;
      padding: 1rem 2rem;
      background-color: rgb(57, 50, 50);
      color: white;
      margin-right: 1rem;
    }

    button {
      border-radius: 8px;
      cursor: pointer;
      font-size: 16px;
      background-color: orangered;
      outline: none;
      border: none;
      padding: 1rem 2rem;
      color: white;
      font-weight: 90;
    }
  }
}
