.main-header {
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0rem;
  }

  nav a {
    display: inline-block;
    margin-left: 1rem;
    font-size: 1rem;
  }

  button {
    cursor: pointer;
    outline: none;
    font-size: 1rem;
    display: inline-block;
    margin-left: 1rem;
    border: none;
  }
}
