#room-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;

  .room-unit {
    text-align: center;
    p {
      font-size: 1.2rem;
      text-transform: capitalize;
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .img-wrapper {
    height: 300px;
    margin-bottom: 1rem;
  }
}

@media (max-width: 800px) {
  #room-list {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2.5rem;
  }

  .img-wrapper {
    height: 200px;
  }
}
@media (max-width: 540px) {
  #room-list {
    // display: block;
    grid-template-columns: 1fr;

    .room-unit {
      display: block;
      margin-bottom: 1.2rem;
    }
  }
}
